.next-genration-section {
    padding-top: 115px;
}

.next-genration-main {
    display: flex;
    column-gap: 84px;
}

.next-genration-head {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    color: #344170;
    margin-bottom: 36px;
}

.next-genration-para {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #344170;
    margin-bottom: 30px;
}

.next-genration-btn {
    font-style: normal;
    font-family: 'Halis GR';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #008C99;
    border-radius: 5px;
    padding: 13px 20px;
    border: none;
    transition: 0.3s;
}

.next-genration-btn:hover {
    background-color: #FFDC83;
    color: #008C99;
}