@font-face {
    font-family: 'Halis GR';
    src: url('../assets/fonts/HalisGR-Medium.eot');
    src: url('../assets/fonts/HalisGR-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/HalisGR-Medium.woff2') format('woff2'),
      url('../assets/fonts/HalisGR-Medium.woff') format('woff'),
      url('../assets/fonts/HalisGR-Medium.ttf') format('truetype'),
      url('../assets/fonts/HalisGR-Medium.svg#HalisGR-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Halis GR';
    src: url('../assets/fonts/HalisGR-Regular.eot');
    src: url('../assets/fonts/HalisGR-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/HalisGR-Regular.woff2') format('woff2'),
      url('../assets/fonts/HalisGR-Regular.woff') format('woff'),
      url('../assets/fonts/HalisGR-Regular.ttf') format('truetype'),
      url('../assets/fonts/HalisGR-Regular.svg#HalisGR-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }