@import "./Mixin.scss";
@import"./Font.scss";
$font-harlis:'Halis GR';
$font-weigth-400:400;
$font-weigth-500:500;
$font-weigth-700:700;
$header-gradient:linear-gradient(90deg, rgb(255, 220, 131) 0%, rgb(237, 255, 255) 18%, rgb(130, 202, 255) 100%);;
$section-gradient:linear-gradient(61deg, hsla(43, 100%, 76%, 1) 0%, hsla(180, 100%, 96%, 1) 26%, hsla(180, 100%, 96%, 1) 86%, hsla(177, 63%, 66%, 1) 100%);
$bluecolor:#008C99;
$darkblue:#344170;
$white-color:#FFFFFF;

